
body {
    padding-top: 80px;
    width: 100%;
    height: 100%;
	font-family:  'Arial', Helvetica, sans-serif;
    color: #000;
    background-color: #FFF;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
	font-family:  'Arial', Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:768px) {
    body {
        padding-top: 100px;
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }

    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }

    .navbar-custom {
        padding: 10px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: #fff;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(0,0,0,.3);
        color: #000;
        background: #fff;
    }

}

.navbar-fixed-top .nav {
        padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
        padding: 0 15px;
}

.navbar-brand img {
    height: 30px;
}

.Site {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Site-content {
    flex: 1 0 auto;
}

.Site-footer {
    flex: none;
}


.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content-section {
    padding-top: 100px;
}

.legal p {
    font-size: 1rem;
    line-height: 1.46rem;
    margin: 0 0 10px;
    color: #444;
    font-family: Roboto,sans-serif;
}

.legal h1, h2, h3 {
    margin: 10px 0 20px;
    line-height: 2.08rem;
    color: #444;
    font-family: Roboto,sans-serif;
}

.legal h1 {
    font-size: 2.5rem;
}

.legal h2 {
    font-size: 2.2rem;
    margin: 30px 0 20px;
}

.legal h3 {
    font-size: 1.6rem;
}

.legal address {
    margin: 0;
    padding: 0 0 11px;
    font-size: 1rem;
    line-height: 1.46rem;
    color: #444;
    font-family: Roboto,sans-serif;
    font-style: normal;
}

.legal a {
    color: #036;
    text-decoration: none;
}

.legal ul {
    list-style: none;
    padding: 0;
    background: none;
    margin: 0 0;
}

.legal li {
    list-style: none;
￼    margin: 0;
￼    padding: 0;
￼    min-height: 20px;
    color: #444;
    font-family: Roboto,sans-serif;
    font-style: normal;
}

footer {
    width: 100%;
    padding: 0.1rem 1.0rem;
    background-color: #4b4a56;
    color: #dedee3;
    line-height: 1.5;
}

.footer-link {
    color: #dedee3;
}

.footer-link:hover {
    color: inherit;
}

.footer-list {
    list-style-type: none;
    padding-left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer-list-item {
    margin: 0rem 0.8rem;
    white-space: nowrap;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

#tagsselect {
    height: 250px;
}

legend
{
    color: #fff;
    background: #b8b8b8;
    padding: 2px 6px
}

legend
{
    color: #fff;
    background: #b8b8b8;
    padding: 2px 6px
}

.imagewrapper {
    position: relative;
    height: 600px;
    width: 600px;
}

.listbox {
    width: 50px;
    color: #FFF;
    position: relative;
    float: left;
    padding-top: 5px;
}

.listbox img {
    width: 90%;
    height: auto;
    overflow: hidden;
}

.box {
    width: 300px;
    height: 600px;
    color: #FFF;
    position: relative;
    float: left;
    padding-top: 20px;
}

.box img {
    width: 90%;
    height: auto;
    overflow: hidden;
}

.innerContent {
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    padding: 10px;
}

#listing ul li {
    list-style-type: none;
    display: block;
}

table {
    width: 100%;
}

th {
    background: #b8b8b8;
    text-align: center;
}

div.dataTables_wrapper div.dataTables_processing {
  position: fixed;
  top: 35%;
}

div.clusterCockpit_processing {
  position: fixed;
  top: 20%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  margin-top: -26px;
  text-align: center;
  padding: 1em 0;
}

::-webkit-calendar-picker-indicator {
  opacity: 1
}
