{% extends 'base.html.twig' %}

{% block title %}
    Config Panel
{% endblock %}

{% block navitem_settings %}
    <li class="nav-item">
        <a class="nav-link active fs-5" style="color: {{ active_link_color }};" aria-current="page" href="{{ path('config_index') }}">
            <span class="cc-nav-text">Settings</span>
            <i class="bi-gear-fill"></i>
        </a>
    </li>
{% endblock %}

{% block body %}
    <div class="container" style="margin-top:80px;">
        <div class="row">
            {{ include("renderSidebar.html.twig") }}
            <div class="col-10 ml-auto">
                <h2 class="text-center">Configuration</h2>
                <ul class="list-unstyled">
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
