{% extends 'base.html.twig' %}

{% block title %}
    ClusterCockpit
{% endblock %}

{% block navigation %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-center">Application Panel</h2>
                <div class="list-group">
                    <a class="text-center font-weight-bold bg-secondary text-white list-group-item list-group-item-action"  href="{{ path('list_jobs') }}">Job Monitoring</a></li>
                    <a class="text-center font-weight-bold bg-secondary text-white list-group-item list-group-item-action"  href="{{ path('cluster_roof') }}">Cluster Roofline</a></li>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
