<div class="row justify-content-center">
    <div class="col-8">
        <div class="alert alert-success" role="alert" id="info_message">
            Info: {{ message }}
        </div>
    </div>
</div>

