<div class="row justify-content-center">
    <div class="col-8">
        <div class="alert alert-success" role="alert" id="info_message">
            <h4 class="text-center mt-4">
            <i class="fas fa-circle-notch fa-spin fa-lg"></i> {{ message }}
        </h4>
        </div>
    </div>
</div>

