<div class="row justify-content-center">
    <div class="col-8">
        <div class="alert alert-danger" role="alert">
            <h2 class="text-center mt-4">
            <i class="fas fa-exclamation-triangle fa-lg"></i>
                Error: {{ message }}
            </h2>
        </div>
    </div>
</div>

