<div class="row">
    <div class="col">
        <table class="table" id="jobs">
            <thead>
                <tr>
                    <th scope="col">
                        Job ID
                        <button type="button" class="btn btn-dark btn-sm" id="toggleFilter">Sort</button>
                    </th>
                    {% for metric in sortMetrics %}
                        <th scope="col">{{ metric.label }}</th>
                    {% endfor %}
                    <th scope="col">
                        Plots
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>
